<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <script type="text/javascript" src="../js/settab.js" />
</head>
<body>
    <!-- Top Begin -->
    <div class="top">
        <div class="wrap">
            <span class="fl">欢迎您来到<a href="#" title="" target="_blank">USST经管门户网站</a></span>
            <span class="fr"><a href="#" title="" target="_blank">请登录</a>&nbsp;&nbsp;<a href="#" title="" target="_blank">立即注册</a></span>
        </div>
    </div>
    <!-- Top End -->
</body>
</html>